@import 'variables';

/* ----------------------

        FOOTER

----------------------- */
.footer {
    background-color: $brand-secondary;

    button {
        border: 3px solid $brand-primary;
        color: white;
        background-color: $brand-secondary;
        padding: 10px;
    }

    h4 {
        color: $brand-primary;
        line-height: 40px;
    }

    .first-footer {
        background-image: url('../img/footer-bg.jpg');
    }

    .list {
        color: white;

        li {
            list-style: none;
        }
    }

    .col-8 {
        background-image: url("../img/dc-logo-bg.png");
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: 70%;
    }
}